<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> AdminPage </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
            <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a></div>
            <div class="adminmenu">
            <a href = "{{url_for('index')}}"> Home</a>
            <a href = "{{url_for('dash')}}"> Dashboard</a>
            <a href = "{{url_for('admin')}}"> Admin Dashboard</a>

            <a href="{{url_for('logout')}}">Log Out</a>
            </div>
            
        </div>

        <hr>

        <div class="role">
            <label>Date:</label> <br>
            <input type="number" placeholder="Date"></input> <br>
            <label>Time:</label><br>
            <input type="number" placeholder="Time"></input><br>
            
        </div>
                

         {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>