{% extends "base.html" %}
{% block content %}
<h1>Admin Login</h1>
<form action="admin" method="post" id="login">
    {{form.hidden_tag()}}
    <p>{{form.Adminusername.label}} <br>
    {{form.Adminusername(size=32)}} <br>
    {% for error in form.Adminusername.errors %}
    <span style="color:red;">[{{error}}]</span>
    {% endfor %}
    </p>
    <p>
      {{form.password.label}}<br>
      {{form.password(size=32)}}<br>
      {% for error in form.password.errors %}
      <span style="color:red;">[{{error }}]</span>
      {%endfor %}
    </p>
    <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
    <p>{{form.submit()}}</p>
     
    

</form>
{% endblock %}