<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Welcome to Green Mile </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

    <body>
        <div class="base">
            <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a></div>
            <div class="menu"><a href = "{{url_for('index')}}"> Home</a>
                
              {% if current_user.is_authenticated == False %}
                <a href = "{{url_for('login')}}"> Signin  </a>
                <a href = "{{url_for('adminlogin')}}"> Admin</a>

             {% elif current_user.is_authenticated  and current_user.role == "supplier" %}
             <a href = "{{url_for('supdash')}}"> Supplier Dashboard</a>
             <a href="{{url_for('logout')}}">Log Out</a>


             {% elif current_user.is_authenticated  and current_user.role == "loader" %}
             <a href = "{{url_for('loadash')}}"> Loader Dashboard</a>
             <a href="{{url_for('logout')}}">Log Out</a>

             {% elif current_user.is_authenticated and current_user.role == "recepient" %}
             <a href = "{{url_for('recepdash')}}"> MyDashboard</a>
             <a href="{{url_for('logout')}}">Log Out</a>


            {% elif current_user.is_authenticated and current_user.role == "paperboy" %}
             <a href = "{{url_for('recepdash')}}"> Recepient Dashboard</a>
            <a href="{{url_for('logout')}}">Log Out</a>
             
            {% else %}
            <a href="{{url_for('logout')}}">Log Out</a>

            {% endif %} 

            </div>
        </div>
        <hr>
        {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>