<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Welcome to Green Mile </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
                
        <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="menu">
            <a href = "{{url_for('index')}}"> Home</a>   
            <a href = "{{url_for('dash')}}"> Dashboard</a>
            <a href="{{url_for('logout')}}">Log Out</a>
            
        </div>
        </div>

        <hr>

        <h1> My Dashboard</h1>


        <div class="info"> 
            <label>Date:</label> <br>
            <input type="number" placeholder="Date"></input> <br>
            <label>Time:</label><br>
            <input type="number" placeholder="Time"></input><br>
            <label>Pickup Location:</label><br>
            <input type="text" placeholder="Pickup"></input> <br>
            <label>Destination:</label> <br>
            <input type="text" placeholder="Destination"></input> <br>
        </div>
        
        <div class="track">
        <h2>Track your Package</h2>
        <img src="../static/distance.jpg" height="300px" width="600px">
        </div>

         {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>