<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Welcome to Green Mile </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
                
        <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="menu">
            <a href = "{{url_for('index')}}"> Home</a>   
            <a href = "{{url_for('loadash')}}"> Loader Dashboard</a>
            <a href="{{url_for('login')}}">Log Out</a>
            
        </div>
        </div>

        <hr>

        <h1> Loader Dashboard</h1>
        
        <table >
            <thead>
            <tr>
                <th>ID</th>
                <th>DATE</th>
                <th>TIME</th>
                <th>GOODS/ITEMS REQUESTED</th>
                <th>QUANTITY</th>
                <th>RECEPIENT</th>
                <th>PICKUP LOCATION</th>
                <th>DESTINATION</th>
                <th>MODE OF TRANSPORTATION</th>
                <th>AMOUNT/COST(UGX)</th>
            </tr>
            </thead>
                  
            <tbody>
            <tr>
                <td>1</td>
                <td>01/01/2018</td> 
                <td>08:00am</td> 
                <td>Rice</td> 
                <td>2 sacks</td>
                <td>Tom</td>
                <td>Nakawa</td> 
                <td>Kireka</td> 
                <td>Pickup Truck</td> 
                <td>50,000</td> 

            </tr>
            
            <tr>
                <td>2</td>
                <td>23/06/2019</td> 
                <td>3:33pm</td> 
                <td>Books</td> 
                <td>7 boxes</td> 
                <td>Hannah</td>
                <td>Kampala</td> 
                <td>Lugazi</td>
                <td>Pickup Truck</td> 
                <td>60,000</td> 
            </tr>

            <tr>
                <td>3</td>
                <td>22/02/2019</td> 
                <td>2:45pm</td>
                <td>Pizza</td>
                <td>3 boxes</td> 
                <td>Lala</td>
                <td>Ntinda</td> 
                <td>Wandegeya</td>
                <td>Motorcycle</td> 
                <td>5,000</td> 
            </tr>

            <tr>
                <td>4</td>
                <td>22/06/2019</td> 
                <td>12:40pm</td> 
                <td>Birthday Cakes</td> 
                <td>2 boxes</td> 
                <td>Lina</td>
                <td>Mulago</td> 
                <td>Naalya</td>
                <td>Motorcycle</td>
                <td>20,000</td> 

            </tr>

            <tr>
                <td>5</td>
                <td>30/09/2019</td> 
                <td>10:30am</td>
                <td>Flowers(Red Roses)</td> 
                <td>6 bouquets</td> 
                <td>Yasim</td>
                <td>Bugolobi</td> 
                <td>Namugongo</td> 
                <td>Corolla</td>
                <td>40,000</td> 

            </tr>

            <tr>
                <td>-</td>
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td> 

            </tr>

            <tr>
                <td>-</td>
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>-</td> 

            </tr>

            </tbody> 
        </table>
        
               
        {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>