{% block content %} 
<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Loaders Page </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
            <div class="green"> <a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="adminmenu">
            <a href = "{{url_for('index')}}"> Home</a>
             <a href="{{url_for('loaders')}}"> Loaders</a>
             <a href = "{{url_for('admin')}}"> Admin Dashboard</a>
            <a href="{{url_for('login')}}">Log Out</a>
            </div>
            
        </div>

        <hr>
                           

         {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}




  <h1>Loaders</h1>

<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
    </tr>
    </thead>

 {% for loader in loaders %}
 <tbody>
    <tr>
        <td>{{loader.id}}</td>
        <td>{{loader.username}}</td>
        <td>{{loader.email}}</td>
        <td>{{loader.role}}</td>
      {% else %}
         <td><em>no loaders found</em></td>
    </tr>
    {% endfor %}
    </tbody>
 </table>
 {% endblock  %}

</body>
</html>