<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Welcome to Green Mile </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
                
        <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="menu">
            <a href = "{{url_for('index')}}"> Home</a>   
            <a href = "{{url_for('supdash')}}"> Supplier Dashboard</a>
            <a href="{{url_for('login')}}">Log Out</a>
            
        </div>
        </div>

        <hr>

        <h1> My Account</h1>

        <div class="info"> 
            <label>Date:</label> <br>
            <input type="date" placeholder="Date"></input> <br>
            <label>Time:</label><br>
            <input type="time" placeholder="Time"></input><br>
            <label>Recepient:</label><br>
            <input type="text" placeholder="Recepient Name"></input><br>
            <label>Pickup Location:</label><br>
            <input type="text" placeholder="Pickup Location"></input> <br>
            <label>Destination:</label> <br>
            <input type="text" placeholder="Destination"></input> <br>
            <label>Invoices Paid:</label> <br>
            <input type="number" placeholder="Invoices Paid"></input> <br>
            <label>Invoices Pending:</label> <br>
            <input type="number" placeholder="Invoices Pending"></input> <br>
       
        </div>






        {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>