<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Welcome to Green Mile </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
                
        <div class="green"><a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="menu">
            <a href = "{{url_for('index')}}"> Home</a>   
            <a href = "{{url_for('supdash')}}"> Supplier Dashboard</a>
            <a href="{{url_for('logout')}}">Log Out</a>
            
        </div>
        </div>

        <hr>

        <h1> My Dashboard</h1>


        {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>