
{% block content %} 
<html>
    <head> 
        {% if title %}
        <title>{{title}} - Green Mile</title>
        {% else %}
        <title> Users Page </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    </head>

    <body>
        <div class="base">
            <div class="green"> <a href = "{{url_for('index')}}">Green Mile Company</a> </div>
            <div class="adminmenu">
            <a href = "{{url_for('index')}}"> Home</a>
             <a href="{{url_for('users')}}"> Users</a>
             <a href = "{{url_for('admin')}}"> Admin Dashboard</a>
            <a href="{{url_for('logout')}}">Log Out</a>
            </div>
            
        </div>

        <hr>
                           

         {% with messages=get_flashed_messages()%}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}

       </ul>

        {% endif %}
        {% endwith %}


<h1>Users</h1>

<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
    </tr>
    </thead>

  {% for user in users %}
    <tbody>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td> 
        <td>{{user.email}}</td> 
        <td>{{user.role}}</td> 
        {% else %}
                <td><em>no users found</em></td>
            </tr>       
    {% endfor %}
    </tbody> 
</table>
{% endblock  %}

</body>
</html>

