body{
    
    background-image: url(../static/parcel.jpeg); 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    font-size: 30px;
    color: white;

}


.base{
    
    width:100%;
    display: flex;
}
.green{
    width: 30%;
    
}

.menu{
    width:30%;
    padding: 10px;
    font-size: 20px;
    margin-left: 500px;
    
}

.menu a, .green a, .adminmenu a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.adminmenu{
    width:30%;
    padding: 10px;
    font-size: 20px;
    margin-left: 350px;
}



h1{
    margin-top:5px;
    text-align:center;
}

#sign{
    margin-left: 40%;
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    width: 350px;
    height: 440px;
    color: azure;
    font-size: 17px;
    padding:3px;
    text-align: center;
    opacity: 0.9;
}


#login{
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    height: 265px;
    color: azure;
    font-size: 17px;
    text-align: center;
    opacity: 0.9;
    width:65%;
    margin-left:15%;
    padding-top:10px;
}

#login input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;
    
}

.info label{
    font-size:15px;
    padding:8px;
    }

.info{
  font-family:georgia;
  font-size:15px;
  font-weight:bold;
  padding-left:400px;
  margin-left: 7%;
  
  
}

.info input{
    padding:8px;
    width: 20%;
    border-radius:10px;
}

.track{
    padding-right:10px;
}
.track p{
    margin-top:5px;
    font-size:20px;
}

.track img{
    border-radius:10px;
    padding-left: 200px;
}

.new a{
    color:maroon;
    text-decoration: none;
}

/* #sig li:hover{
    display: none;
}

#sig li:hover{
    display: block;
} */