body{
    
    background-image: url(../static/parcel.jpeg); 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    font-size: 30px;
    color: white;

}

.base{
    
    width:100%;
    display: flex;
 } 
.green{
    width: 30%;
    
 } 

.menu{
    width:30%;
    padding: 10px;
    font-size: 20px;
    margin-left: 500px;
    
}

.menu a, .green a, .adminmenu a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.adminmenu{
    width:50%;
    padding: 10px;
    font-size: 16px;
    margin-left: 300px;
}

h1{
    margin-top:5px;
    text-align:center;
}

#sign{
    margin-left: 10%;
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    width: 400px;
    height: 350px; 
    color: azure;
    font-size: 17px;
    padding:3px;
    text-align: center;
    opacity: 0.9;
    
 }

#sign input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;
}

#create{
    margin-top:-29%;
    margin-left: 45%;
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    width: 400px;
    height: 350px;
    color: azure;
    font-size: 17px;
    padding:3px;
    text-align: center;
    opacity: 0.9;

}

#create input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;

}

#login{
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    height: 265px;
    color: azure;
    font-size: 17px;
    text-align: center;
    opacity: 0.9;
    width:65%;
    margin-left:15%;
    padding-top:10px;
}

#login input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;
    
}

.info label{
    font-size:15px;
    padding:8px;
    }

.info{
  font-family:georgia;
  font-size:16px;
  font-weight:bold;
  margin-left: -66%;
  
 }

.info input{
    padding:8px;
    width: 18%;
    border-radius:10px;
    
}


.track{
    padding-left:34%;
    margin-top:-250px; 
    font-size:20px;
    font-weight:bolder;
    font-family:cambria;
} 
/* .track p{
    margin-top:5px;
    font-size:20px;
} */

.track img{
    border-radius:10px;
    
}

.new a{
    color:maroon;
    text-decoration: none;
}

.role{

    margin-top:20px;
    font-size: 40px;

}

.role a{
    text-decoration: none;
    color:azure;
}

table{
margin-right: 20px;
color: black;
border: 2px solid rgb(36, 49, 61);
border-radius: 4px;
padding: 20px;
width:65%;
font-family: Cambria;
font-size:15px;
background-color:rgb(40, 119, 73); 
margin-left:12%; 
margin-top:6%;
border-collapse: collapse;
border-right:1px solid black;
    
}

td,th{
padding: 8px;
font-family: Cambria;
font-size:15px;
border-bottom:1px solid black; 
border-left:1px solid black;
border-right: 1px solid black;
text-align:left;
color:azure;

}



