body{
    
    background-image: url(../static/parcel.jpeg); 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    font-size: 25px;
    color: white;

}



.base{
    font-family: cambria;
    width:90%;
    display: flex;
 } 
.green{
    width: 30%;
    
 } 

.menu{
    
    padding: 10px;
    font-size: 20px;
    margin-left: 500px;
    
}

.menu a, .green a, .adminmenu a{
    color:white;
    text-decoration: none;
    padding: 5px;
    font-family:cambria;
}


h1{
    margin-top:100px;
    text-align:center;
}

#sign{
    margin-left: 35%;
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    width: 400px;
    height: 400px; 
    color: azure;
    font-size: 17px;
    padding:3px;
    text-align: center;
    opacity: 0.9;
    
 }

#sign input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;
}

#create{
    margin-top:-29%;
    margin-left: 45%;
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    width: 400px;
    height: 350px;
    color: azure;
    font-size: 17px;
    padding:3px;
    text-align: center;
    opacity: 0.9;

}

#create input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;

}

#login{
    background-color: rgb(40, 119, 73);
    border-radius: 7px;
    height: 265px;
    color: azure;
    font-size: 17px;
    text-align: center;
    opacity: 0.9;
    width:65%;
    margin-left:15%;
    padding-top:10px;
}

#login input{
    padding:4px;
    border-radius:3px;
    border: 1px solid orange;
    
}


table{
color: black;
padding: 20px;
width:60%;
font-family: Cambria;
background-color:rgb(65, 156, 103); 
margin-top:20%;
   
}

td,th{
padding: 8px;
font-family: Cambria;
font-size:16px;
text-align:left;
color:black;
background-color:rgb(65, 156, 103);

}

thead a {
    color:black;
    text-decoration: none;
}

nav {
    margin-top:3%;
    font-family:cambria;
    font-size:20px;
}
label {
    color:black;
    font-family: cambria;
    font-size:16px;
}

.form-control{
   
    border:1px solid black;
    border-radius:10px;
    padding:8px;
}

#isAdmin{
    margin-left:-40%;
}

.recep{
    margin-top:-8%;
    width:60%;
}    
        
        
        

        
        
   